body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main{
  padding: 0 1.5rem;
}

.main-header__nav{
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header{
  background-color: #108181;
  width: 100%;
  height: 3.5rem;
}

.main-header__item-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item{
  margin: 0 1rem;
  padding: o;
}

.main-header__item a{
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
  color:rgb(156, 238, 176)
}

/* form */

.my-form{
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control{
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #2c098b;
  border-radius: 2px;
  font: inherit;
}

button{
  font: inherit;
  border: 1px solid #2c098b;
  color: #2c098b;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background: #2c098b;
  color: white;
}